<div class="row">
  <div class="col-md-6">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Your name"
          formControlName="name"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Your email"
          formControlName="email"
        />
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input
          type="number"
          class="form-control"
          id="age"
          placeholder="Your age"
          formControlName="age"
        />
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          placeholder="Your phone"
          formControlName="phone"
        />
      </div>

      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="whatsapp"
          formControlName="hasWhatsapp"
        />
        <label for="whatsapp">Do you have Whatsapp?</label>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <app-form-group-table></app-form-group-table>
  </div>
</div>
